body {
  margin: 0;
}

article section {
  display: none;
}

article section:target {
  display: block;
}

application header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
